style.css
*{
    margin: 0;
    padding: 0;
}

*{
    box-sizing:border-box ;

}

/* html{
    font-size: 10px;
} */

body.mainbody{
    background: rgba(0, 0, 0, 0.7) url('newback.jpg') center center fixed;
    background-size: cover;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
body.menu{

    background: rgba(0, 0, 0, 0.7)  url('mb1.jpg') center center fixed ;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
body.about{
    background: rgba(0, 0, 0, 0.7)  url('aboutPic.jpg') center center fixed ;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

}
  

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: auto;
    transition: 3.5s;
}

.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,
    0 3px 50px orangered inset,0 3px 50px orangered inset;
}


.content{
    position: absolute ;
    color: #fff;
    top: 40%;
    left: 30%;
    
}


.content h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-display: flex;
   color: peachpuff;
   text-align: center;

}

.submit{
    position: absolute;
    margin-top: 22%;
    margin-left: 40%;
    text-align: center ;
    padding-top:70px ;
}

.submit a{
    text-decoration: none;
    color: #fff;
    padding: 20px 35px;
    background-color: orangered;
    margin-left: 10% ;
    line-height: 30px;
   
}

.mlist{
    color: #fff;
    font-size: medium;
    margin-top: 10%;
    text-align: center;
}
.mlist ul li{
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: 3.5s;
   display: block;
   line-height: 1.2;
} 
 .aboutP{
    color: #fff;
    font-size: large;
    margin-top: 10%;
    text-align: center;
    padding: 6px ;
    transition: 3.5s;
 }

 .aboutP h1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: double;
    text-align: center;
    font-style: italic;
 }

 .aboutP p{
    text-align: center ;
    padding: 10px;
   width: 815px;
   margin-left: 300px;
   margin-right: 10px;
   line-height: 1.5;

 }

 body.pic{
    background: rgba(0, 0, 0, 0.7)  url('picb1.jpg') center center fixed ;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    box-sizing: content-box;
    border: #fff;
    border-radius: 40%;

}

body.contact{
    background:  rgba(0, 0, 0, 0.7) url(contactP.jpg) center center fixed ;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    box-sizing: content-box;
    border: #fff;
    border-radius: 40%;
    background-blend-mode: darken;
    
}

.pic h1{
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}


/*Countdown Clock */



  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Poppins:ital@1&display=swap');



.Tcontainer {
    color: white;
    margin: 0 ;
    text-align: left top;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: start;
    transition: none;
   
    

}

.Tcontainer h1{

 font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: #fff;
   margin-top: 0px;
   padding-left: 4rem;
   align-items: start;
   line-height: 10%;
   display: inline block;
   transition: none;
    padding-top: 0%;
    top: 0%;
    left: 10%;
   padding-right: 30%;
   padding-top: 0%;
}

.Tcontainer li{
    content: start;
  display: inline-block;
  font-size: 1rem;
  list-style-type: none;
  padding: 21px;
  text-transform: uppercase;
  align-items: start;
  text-align: left;
 top: auto;
position: justify;

}


.Tcontainer li span{
  display: block;
  font-size: 3rem;
  padding-top: 0% ;
  padding-right: 30%;
  text-align: left;
  position: justify;
  left: 0px;
  top: 0px;
 
  
}

.pic{
    border: 60px solid transparent;
    padding: 70px;
    align-items: center;
    padding-top: 0px;
    border-radius: 60px;
}

.home a{
    font-size: 20px;
    color:white;
    padding-top: 0px;
}

.Ctainer h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    padding-left: 0px;
}
.Ctainer a{
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    padding-left: 700px;
}


@media screen and (max-width : 600px){
    .content h1{
        font-size: 36px;
        line-height: 50px;
    
    }

    .navbar ul li {

        font-size: 15px;
        padding: 10px;
    }

    .content h1{
        font-size: 25px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
       padding-top: 100px;
       padding-right: 10px;
       text-align: center;
       line-height: 1.5;
    }
    .submit{
        padding-top: 350px;
    }

    .Tcontainer{
        font-size: 10px;
        display: inline-block;
        padding-top: 50px;
    }
    .Tcontainer h1 {
        font-size: 25px;
        padding-right: 6px;
        text-align: center;
    
    } 
    

    .about h1{
        font-size: 15px;
        text-align: center;
        padding-top: 40px;
        padding-left: 450px;
    }
    .about{
        background-size: 5% 5%;
        
    }
    .about p{
        font-size: 15px;
        text-align: center;
        padding-right: 100px;
        /* margin-right: 500px; */
        width: 400px;
        padding-top: 30px;
    }

    .Ctainer a{
        padding-left: 180px;
    }

        
    

    

    }






 

 
  
